@namespace Dxura.Darkrp.UI
@inherits Panel

<root>
	<div>Commands</div>
	<div class="commands">
		<button class="button command">
			Drop Money
		</button>
		<button class="button command">
			Give Money
		</button>
	</div>
</root>

@code
{

}
