@import "/UI/Styles/Theme.scss";

Chat {
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: $white;
  
  .chat-container {
    width: 560px;

    .message, .input label, .playername {
      text-transform: none;
    }

    .when-open {
      display: none;
    }

    .button-instruction {
      display: flex;
      label {
        padding-top: 5px;
        line-height: 12px;
      }
    }
  }
}

Chat.open {
  .chat-container {
    background-color: $background;

    .when-open {
      display: flex;
    }

    .button-instruction {
      display: none;
    }
  }
}